.side-nav {
  width: 200px;
  height: 100%;
  padding: 20px;
  overflow-x: hidden; 
  max-height: calc(100vh - 9rem);
  overflow-y: auto;
  scrollbar-width: 0;

}

.side-container{
  overflow: hidden;
  margin-top: 24px;
}



ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}



.material-symbols-outlined {
  margin-right: 10px; 
}


ul li {
  font-size: 16px;
  padding: 8px 12px;
  font-weight: 400;
  color: #684927;
}

.items-list .item-list:hover {
  background-color: #e0ceba;
  border-radius: 24px;
  width: 150px;
}

.genres .item-list:hover {
  background-color: #e0ceba;
  border-radius: 24px;
  width: 150px;
}


li.active {
  background-color: #e0ceba;
}

.section-title {
  font-size: 18px;
  cursor: pointer;
  color: #684927; 
  display: flex;
  align-items: start;
}

